.bg {
    background-color: rgb(24, 26, 30);
}
.bx {
    background-color: rgb(181, 197, 240);
    height: 450px;
    width: 300px;
    margin-top: 150px;
    border-radius: 20px;
    
}
.bx:hover {
    transform: scale(1.1);
    transition: 0.4s;
}
.imgg {
    height: 125px;
    width: 125px;
    border-radius: 70px;
    margin-top: 20px;
    

}
.ph {
    height: 40px;
    width: 40px;
    margin-left: 20px;
}
.em {
    height: 45px;
    width: 45px;
    margin-left: 20px;

}
.comm {
    height: 28px;
    width: 28px;
    margin-left: 27px;
    margin-top: 5px;
    margin-right: 10px;
    border-radius: 10px;

}